 window.addEventListener('load', () => {
    const form = document.querySelector("#new-task-form");
    const input = document.querySelector("#new-task-input");
    const list_el = document.querySelector("#tasks");

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const task = input.value;

        if(!task) {
            alert("Please fill out the task");
            return;
        }

        const task_el = document.createElement("div");
        task_el.classList.add("task");

        const task_content_el = document.createElement("div");
        task_content_el.classList.add("content");
        
        task_el.appendChild(task_content_el);

        const task_input_el = document.createElement("input");
        task_input_el.classList.add("text");
        task_input_el.type = "text";
        task_input_el.value = task;
        task_input_el.setAttribute("readonly", "readonly");

        task_content_el.appendChild(task_input_el);

        const task_actions_el = document.createElement("div");
        task_actions_el.classList.add("actions");

        const task_edit_el = document.createElement("button");
        task_edit_el.classList.add("edit");
        task_edit_el.innerText = "Edit";
        
        const task_delete_el = document.createElement("button");
        task_delete_el.classList.add("delete");
        task_delete_el.innerText = "Delete";

        task_actions_el.appendChild(task_edit_el);
        task_actions_el.appendChild(task_delete_el);

        task_el.appendChild(task_actions_el);

        list_el.appendChild(task_el);

        input.value = "";

        task_edit_el.addEventListener('click', (e) => {
            if (task_edit_el.innerText.toLowerCase() =="edit") {
            task_input_el.removeAttribute("readonly");
            task_input_el.focus();
            task_edit_el.innerText = "Save";
            } else{
                task_input_el.setAttribute("readonly", "readonly");
                task_edit_el.innerText = "Edit";
            }
        });

        task_delete_el.addEventListener('click', (e) => {
            list_el.removeChild(task_el);
        });
    });
});
[22:16, 8/1/2024] vaishnavikilledar15: Haa 3rd hota
[22:16, 8/1/2024] vaishnavikilledar15: Ata me 2 pthvte
[22:16, 8/1/2024] vaishnavikilledar15: *{
    font-family: 'Times New Roman', Times, serif;
}

.image{

    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(252, 251, 251);
    color:rgb(34, 6, 77)


}

.quote{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: brown;

}

.heading{
    text-align: center;
    color: black;
    font-size: 60px;
    text-decoration: solid;
}

.subh{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.para{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.content{
    border: solid;
    border-radius: 10px;
    border:10px 5px
}

.link{
    text-align: center;
    border: solid;
    border-radius: 10px;
    border:10px 5px
}